mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.row.row
				+e.logo-col.col-lg-7.col-xl-8
					//-1
					+e.logo-bl
						+e.A.logo(href='#')
							img(loading="lazy" src="img/svg/footer-logo.svg" alt="")
						+e.logo-links
							span 
								script.
									function InfoDVDCurrentYear(year) {
										var cur = new Date();
										if (cur.getFullYear() != year)
											document.write(year + '&mdash;' + cur.getFullYear());
										else document.write(year);
									}

									InfoDVDCurrentYear('2008');
								| 	 © издательство 
								a.text-white(href='//www.info-dvd.ru/?utm_source=footer_link' target="_blank") Info-DVD.Ru
							a.text-white(href='//www.infoclub.info/' target="_blank") Проект «Инфоклуб»
							script(src='//info-dvd.ru/codes/js/legal.utf8.js')
					//-2
					+e.links-bl
						a(href='//info-dvd.ru/about/partnership', target='_blank', title='партнёрская программа') партнёрская программа
						a(href='//info-dvd.ru/pages/privacy', target='_blank', title='политика конфиденциальности') политика конфиденциальности
						a(href='//info-dvd.ru/pages/risk-warning', target='_blank', title='предупреждение о рисках')   предупреждение о рисках
				+e.contacts-col.col-lg-5.col-xl-4
					+e.c-item
						+e.title Служба поддержки:
						+e.cont-links
							a(href='//info.support-desk.ru/form', target='_blank', title='Задать свой вопрос')  Задать свой вопрос
							a(href='//info.support-desk.ru/?base=1', title='Частые вопросы и ответы на них' target="_blank") Частые вопросы и ответы на них
					+e.c-item
						+e.title Позвоните нам:
						+e.inline-links
							span
								script(   src='//info-dvd.ru/codes/js/telephone-number.js')
						+e.callback-txt
							| или
							|
							a(href='//info-dvd.ru/support/apply/', target='_blank') оставьте свой номер
							|
							| и мы вам перезвоним

