mixin sAdvantage(data)
	// start sAdvantage
	+b.SECTION.sAdvantage.section#sAdvantage&attributes(attributes)
		.container
			+b.section-title
				p В чём преимущества онлайн-курса
				h2 «Стань трейдером»
			+e.row.row
				+e.l-col.col-lg-4
					+advantageItem('Бесплатно. Совсем. Навсегда')
						| Абсолютно всё, что описано на этом сайте – достанется Вам бесплатно и прямо сейчас. Бесплатный онлайн-курс с пожизненным доступом без ограничений и «пробных периодов». Бесплатная официальная торговая платформа MetaTrader4 и встроенные в неё бесплатные инструменты.
					+advantageItem('Освоит даже первоклассник')
						| Научиться работать в торговой платформе – это так же просто, как научиться форматировать текст в Word'е. Даже если сейчас Вы не знаете, что такое «рынок FOREX» или «точка входа», Вы всё равно сможете начать зарабатывать на этом рынке, изучив наш курс.
					+advantageItem('Практические задания')
						| Забудьте про скучную теорию. Абсолютно всё, что Вы узнаете на курсе, Вы будете тут же применять на практике. Выполняйте простые задания и двигайтесь дальше.
				+e.img-col.col-lg-4
					+pic('book-img.png')(class="sAdvantage__img")
					//-+e.img
						img(loading='lazy' src="img/@2x/book-img.png" alt="")
				+e.r-col.col-lg-4
					+advantageItem('Пошаговый алгоритм')
						| Вы начнёте с элементарных основ, освоите все необходимые инструменты и за 6 шагов придёте к Вашим первым прибыльным сделкам на рынке форекс.
					+advantageItem('Персональная поддержка')
						| На любом этапе Вашего обучения Вы сможете получить помощь от авторов курса в закрытой группе в Инфоклубе. Кроме того Вам будут доступны персональные консультации в чате или по телефону от специалистов Службы Заботы Инфо-ДВД, если появится такая необходимость.
					+advantageItem('Многолетний опыт обучения')
						| Вы получите уникальную авторскую торговую систему, выстраданную на практике трейдером-самоучкой. Она доказала свою эффективность и уже более 4-х лет приносит прибыль автору и сотням его учеников.
	// end sAdvantage

mixin advantageItem(titleTxt)
	+e.item
		+e.title=titleTxt
		+e.txt
			block