// start .sTopSlider
.sTopSlider {
	background-color: $primary;
	color: $white;

	--sTPB: #{rem(0)};
	//
	--sPT: #{rem(40)};
	--sPB: #{rem(20)};
	@include media-breakpoint-up(md){
		--sPT: #{rem(20)};
		--sPB: #{rem(20)};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{rem(33)};
		--sPB: #{rem(30)};
	}

	&__container{
		position: relative;
	}
	&__slider{
		max-width: 760px;
		margin: 0 auto;
		.swiper-container{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 100%;
			height: auto;
		}
		//prev, next
		.top-sl-prev,
		.top-sl-next{
			border: none!important;
			box-shadow: none!important;
			outline: none!important;

			position: absolute;
			top: 50%;
			transform: translateY(-127%);

			@include mt();
			&:hover{
				transform: scale(1.1) translateY(-127%);
				.icon{
					stroke: rgba($green, .8);
					stroke-width: 4px;
				}
			}
			.icon{
				@include mt();
				font-size: rem(53);
				color: transparent;
				stroke: $green;
				stroke-width: 3px;
			}
		}
		.top-sl-prev{
			left: 0;
			transform-origin: left center;
		}
		.top-sl-next{
			right: 0;
			@include media-breakpoint-up(xl){
				right: 13px;
			}
			transform-origin: right center;
		}
		//pugin
		.top-sl-pugin{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: rem(20px);
			.swiper-pagination-bullet{
				width: rem(20px);
				height: rem(20px);
				background-color: $white;
				border-radius: 50%;
				margin: rem(10px);

				position: relative;
				&:after{
					opacity: 0;
					@include mt();
					content: '';
					width: rem(12px);
					height: rem(12px);
					border-radius: 50%;
					background-color: $green;
					position: absolute;
					top: rem(4px);
					left: rem(4px);
				}

				@include mt();
				&:not(.swiper-pagination-bullet-active):hover{
					transform: scale(1.1);
					&:after{
						opacity: .7;
					}
				}

				&-active{
					&:after{
						opacity: 1;
					}
				}

			}
		}


	}
	&__img-cont{
		display: block;
		position: relative;
		height: 0;
		padding-top: (550/760) * 100%;
	}
	&__img{
		border-radius: rem(10);
		background-color: $white;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-up(md){
			padding: rem(40) rem(15) rem(30px);
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__{}
} // end.sTopSlider