// start .sDesire
.sDesire {
	position: relative;
	z-index: 5;
	@include media-breakpoint-up(md){
		--sPT: #{rem(40)};
	}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(76)};
		--sPB: #{rem(30)};
		--sTPB: #{rem(84px)};
	}

	&__row{
		@include media-breakpoint-up(lg){
			display: flex;
			justify-content: space-between;
		}
	}
	&__title-col{
		@include media-breakpoint-up(lg){
			width: 310px;
			margin-right: rem(20);
		}
		@include media-breakpoint-up(xl){
			width: rem(360px);
			margin-right: rem(43);
		}
	}
	.section-title{
		@extend .has-top-before-frame;
		h2{
			span, b{
				display: block;

				font-size: rem(22px);
				letter-spacing: rem(2);
				@include media-breakpoint-up(lg){
					font-size: rem(24px);
					letter-spacing: rem(3);
				}
				@include media-breakpoint-up(xl){
					font-size: rem(30px);
				}
				line-height: 1.5;
				text-transform: uppercase;
			}
			span{
				margin-bottom: rem(5);
				@include media-breakpoint-up(md){
					margin-bottom: rem(12);
				}
				@include media-breakpoint-up(lg){
					margin-bottom: 0;
				}
			}
			b{

			}
		}
	}
	&__img-col{
		flex-grow: 1;
		@include media-breakpoint-up(lg){
			padding-top: rem(28px);
		}
	}
	&__img{
		background-color: $white;
		box-shadow: 0px rem(26px) rem(46px) rgba(46, 59, 94, 0.69);
		border-radius: 10px;
		overflow: hidden;

		width: 100%;
		position: relative;
		padding-top: (768/757) * 100%;

		@include mt();
		&:hover{
			transform: scale(1.01);
			box-shadow: 0 rem(26px) rem(60px) rgba(46, 59, 94, 0.69);
		}
	}
	&__img-inner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 93%;
			max-height: 93%;
		}
	}
	&__{}
} // end.sDesire