mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2 Почему нам можно верить:
			+e.row.row
				+whyItem(1, 'Мы не лезем в Ваш кошелёк')
					| Вам не нужно инвестировать в сомнительные проекты, вкладывать деньги в обучение и вообще что-либо покупать. Кроме того, мы не рекомендуем Вам сразу торговать на реальные деньги. Для начала протестируйте нашу стратегию на учебном демо-счёте с виртуальными деньгами. И только после этого откройте реальный торговый счёт.
				+whyItem(2, 'Мы не обещаем золотые горы')
					| Любой новичок на рынке FOREX мечтает зарабатывать миллионы. Это здоровое и правильное желание. Но «даже путь в тысячу миль начинается с первого шага». Мы поможем Вам сделать этот первый и самый важный шаг – научим Вас основам прибыльной торговли и докажем, что Вы можете зарабатывать.
				+whyItem(3, 'Наши ученики счастливы')
					| Те, кто прошёл у нас обучение, записывают восторженные видео-отзывы, в которых просто светятся от счастья. Читайте дальше, и Вы увидите примеры: как простые домохозяйки, пенсионеры, крупные бизнесмены и чиновники искренне и восторженно отзываются о прошедшем обучении у Анны Зольд.
	// end sWhy

mixin whyItem(imgNum, title)
	+e.col.col-lg-4
		+e.item
			+e.img
				img(loading="lazy" src=`img/svg/why-img-${imgNum}.svg`)
			+e.txt-cont
				+e.title=title
				+e.txt
					block