mixin sProgram(data)
	// start sProgram
	+b.SECTION.sProgram.section#sProgram&attributes(attributes)
		.container
			+b.section-title
				p Программа онлайн-курса
				h2 «Стань трейдером»
			+e.items
				+programItem('I', 'Открытие демо-счёта, установка и настройка терминала', 'active', 'active')
					p Вы откроете демо-счёт у одного из форекс-дилеров (вкладывать деньги не нужно) и установите бесплатную программу для торговли – MetaTrader4. Также Вы сделаете первоначальную настройку этой программы.
				+programItem('II', 'Работа в терминале.')
					p Вы узнаете, для чего нужна каждая кнопка и функция в торговом терминале MetaTrader4, и перестанете чувствовать себя перед незнакомой программой, как в кабине пилота. Вы поймёте, что работать в терминале – это так же просто, как форматировать текст в Word’е. Вы совершите на учебном счёте Ваши первые сделки с различными валютами и почувствуете себя настоящим трейдером!
				+programItem('III', 'Что такое «свеча».')
					p Вы узнаете, по каким принципам строятся графики цен в торговом терминале. Узнаете, что такое «свеча», какие бывают свечи и что они означают. Вы познакомитесь с понятием таймфрейм и начнёте понимать движения цены на графике.
				+programItem('IV', 'Уровни поддержки/сопротивления')
					p Вы научитесь находить места на графике (горизонтальные линии), на которых движение цены будет останавливаться или менять направление. Эти места будут в дальнейшем Вашими потенциальными «точками входа», т.е. подходящими моментами для совершения сделок.
				+programItem('V', 'Целевые и локальные уровни')
					p Вы поймёте разницу между целевыми (крупными, более значимыми) и локальными (мелкими, менее значимыми) уровнями на графике. Это будет Вашим следующим важным шагом в определении лучшего момента для входа в сделку и выхода из неё.
				+programItem('VI', 'Трендовые линии и пинбары')
					p Вы научитесь строить трендовые линии на графике и с их помощью определять текущее направление рынка (вверх или вниз), т.е. будете знать, покупать сейчас или продавать. Вы узнаете, как выглядит «пинбар» – мощная модель на графике, которая будет сигнализировать Вам о возможности совершения сделок. Вы сможете отличать правильные надёжные пинбары от тех, которые не стоит использовать.
			+e.result
				+e.txt-col
					+e.title Ваш результат:
					+e.txt Изучив эти занятия всего за 1 вечер, Вы сможете начать действовать по очень простой стратегии: дожидаться формирования пинбаров на важном уровне поддержки/сопротивления и совершать сделку в направлении рынка (которое определите с помощью трендовых линий). На ближайшем следующем уровне Вы будете забирать Вашу прибыль. Это очень просто, и это действительно работает, о чём свидетельствуют результаты и отзывы десятков наших учеников.
				+e.img-col.d-none.d-md-block
					+e.img
						img(loading="lazy" src="img/@2x/result-img.png" alt="")

	// end sProgram

mixin programItem(number, headerTxt, headerClasses='', contentClasess='')
	+e.item
		+e.header.prog-item-js(class=headerClasses data-number=number)=headerTxt
		+e.content.prog-content-js(class=contentClasess)
			block
