mixin sMoney(data)
	// start sMoney
	+b.SECTION.sMoney.section#sMoney&attributes(attributes)
		+e.bot-bg
			img(loading='lazy' src="img/svg/money-bot-bg.svg" alt="")
		+e.bot-bg-rain-tp
			img(loading="lazy" src="img/svg/money-rain-tp.svg" alt="")
		+e.bot-bg-rain
			img(loading="lazy" src="img/svg/money-rain.svg" alt="")
		.container
			+e.row.row
				+e.title-col.col-lg-5
					+b.section-title
						+e.cash $5 172
							+e.mirrors
								span $5 172
								span $5 172
								span $5 172
								span $5 172
						h2
							span 400 000 рублей
							span
								| за
								|
								br.d-block.d-sm-none.d-lg-block
								| один
								|
								br.d-block.d-sm-none.d-lg-block
								| день!
				+e.video-col.col-lg-7
					+e.txt В течение дня Анна периодически записывает на видео сделки, которые совершает. В этом ролике наглядно показан обычный торговый день. Спустя несколько месяцев вдумчивой практики Вы имеете шанс приблизиться к этим цифрам:
					+videoLink('447066839')
						//- img(loading="lazy" src="img/@1x/money-v-bg.jpg" alt="")
						+pic('money-v-bg.jpg')
			+e.lower-row
				.time__block
					.idvd_timer.autostart(data-redirect_url='', data-duration_hours='36.5')
				//-+b.timer-box.timer-box-js
					span.days 12
					span.hours 20
					span.minutes 20
					span.seconds 20
				+e.btn.lb_target(type="button")  Кликните, чтобы получить курс бесплатно
	// end sMoney

mixin videoLink(a='458067420')
	+b.video-box
		+e.link(data-src=`<iframe src="https://player.vimeo.com/video/${a}?autoplay=1&loop=1&autopause=0" loading="lazy" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>`)
			if block
				block
			else
				+pic('video-bg.jpg')
				//- img(loading="lazy" src="img/@2x/video-bg.jpg" alt="")
			//- <iframe width="560" height="315" src="https://www.youtube.com/embed/mbcP3Oc0PjU?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
