mixin sMoney(data)
	// start sMoney
	+b.SECTION.sMoney.section#sMoney&attributes(attributes)
		+e.bot-bg
			img(loading='lazy' src="img/svg/money-bot-bg.svg" alt="")
		+e.bot-bg-rain-tp
			img(loading="lazy" src="img/svg/money-rain-tp.svg" alt="")
		+e.bot-bg-rain
			img(loading="lazy" src="img/svg/money-rain.svg" alt="")
		.container
			+e.row.row
				+e.title-col.col-lg-5
					+b.section-title
						+e.cash $5 172
							+e.mirrors
								span $5 172
								span $5 172
								span $5 172
								span $5 172
						h2
							span 400 000 рублей
							span
								| за
								|
								br.d-block.d-sm-none.d-lg-block
								| один
								|
								br.d-block.d-sm-none.d-lg-block
								| день!
				+e.video-col.col-lg-7
					+e.txt В течение дня Анна периодически записывает на видео сделки, которые совершает. В этом ролике наглядно показан обычный торговый день. Спустя несколько месяцев вдумчивой практики Вы имеете шанс приблизиться к этим цифрам:
					+videoLink()
			+e.lower-row
				+b.timer-box.timer-box-js
					span.days 12
					span.hours 20
					span.minutes 20
					span.seconds 20
				+e.A.btn(href="#") Кликните, чтобы получить курс бесплатно
	// end sMoney

mixin videoLink()
	+b.video-box
		+e.A.link(href="https://www.youtube.com/watch?v=en6gms6e54Q&list=PLIU76b8Cjem5B3sufBJ_KFTpKkMEvaTQR" data-fancybox="video")
			img(loading="lazy" src="img/@2x/video-bg.jpg" alt="")
