mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		+e.container.container
			+b.section-title
				h2
					span Автор онлайн-курса
					b «Стань трейдером»
			+e.card
				+e.author
					+e.author-txt
						+e.name Анна Зольд
						+e.descr
							| успешный форекс-трейдер
							br
							| и талантливый преподаватель
					+e.img
						+pic('about-portrait.png')
						//- img(loading="lazy" src="img/@2x/about-portrait.png" alt="")
				+e.txt
					p
						b 13 лет
						|
						| Анна прибыльно торгует на рынке форекс.
					p
						b 4 года
						|
						| обучает обычных людей профессии форекс-трейдера.
					p
						b Уже более 450 человек
						|
						| прошли групповое обучение у Анны. Это самые разные категории людей – офисные работники, домохозяйки, фрилансеры, простые рабочие, пенсионеры.
					p
						b 45 человек прошли
						|
						| у Анны индивидуальное обучение и сопровождение. Среди них – крупные бизнесмены и чиновники.
					p
						| На основе собственного многолетнего опыта Анна
						|
						b создала сверхэффективную систему обучения трейдингу.
						|
						| Эта система идеально подходит для абсолютных новичков, а также для тех, у кого уже много лет не получается зарабатывать на рынке форекс.
					p
						b 80% времени и внимания в торговле и в обучении трейдингу Анна уделяет вопросам психологии.
						|
						| Поэтому с успехом решает главную проблему, которая мешает зарабатывать абсолютному большинству трейдеров – эмоции в торговле.
	// end sAuthor